.login-container {
  padding-top: 150px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}

.login-card {
  border-radius: 15px;                     /* Nothing is being applied */
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.login-card h3 {
  font-weight: 600;
}

.login-card input {
  border-radius: 10px;
  padding: 10px;
}

.login-card button {
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
